/*-----------------Index.html-----------------*/

.fullSpreadLayout {
  position: relative;
  margin-bottom: 30px;
}

#homepage_img {
  width: 100%;
  height: 620px;
  object-fit: cover;
  opacity: 90%;
}

#intro_text {
  position: absolute;
  left: 50px;
  top: 20px;
  width: 50%;
}

.introHeading {
  color: #000000;
}

.goalText {
  font-size: 1.4em;
}

#learn_more_button {
  padding: 4px 20px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 1.4em;
  margin: 40px 0 0 150px;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 0 5px #dddddd;
}

#learn_more_button:hover {
  background-color: #000000;
  color: #ffffff;
}

.workSample {
  width: 320px;
  margin: 30px;
}

.workSample a {
  text-decoration: none;
  color: #000000;
}

.workSample img {
  width: 320px;
  height: 215px;
  object-fit: cover;
}

.workSample img:hover {
  opacity: 0.5;
}

/* Code adapted from: https://stackoverflow.com/questions/43302398/overlay-fade-in-a-div-text-when-hovering-over-an-image */
.overlayContainer {
  display: inline-block;
  position: relative;
}

.overlay {
  width: 320px;
  height: 215px;
  background: #111111bf; /* 8-digit hex code to add transparency, "bf" taken from chart at https://css-tricks.com/8-digit-hex-codes/ */
  color: #ffffff;
  transition: opacity .5s;
  opacity: 0;
  position: absolute;
  top: -1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.overlayContainer:hover .overlay, .workSample:hover .overlay { /* overlay appears if text and/or image are hovered */
  opacity: 1;
}