/*-----------------Photography.html-----------------*/

.galleryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galFigures {
  margin-bottom: 50px; /* Add space between rows of images */
  opacity: 1;
}

.galFigures img {
  padding-bottom: 10px; /* Add space between image and caption */
  object-fit: cover; /* Adjust image so it fits without distortion */
}

/* .galFigures img:hover {
  width: 460px;
} */

