/*-----------------Header-----------------*/

header {
  text-align: center;
}

#web_title {
  margin: 10px 0;
  font-family: "Sofia", Arial, sans-serif;
}

header > h2 > a {
  text-decoration: none;
  color: #000000;
}

/*-----------------Navigation-----------------*/

nav {
  background-color: #72ade6;
  height: 46px;
  box-shadow: 0px 3px 8px #d3d3d3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#home_icon {
  padding-top: 13px;
  padding-bottom: 13px;
} 

.navLink {
  display: inline;
  font-size: 1.1em;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  margin: 0 20px;
}

.navLink:hover, .navLink:focus {
  color: #FFFFFF;
}

/*-------Work Samples Dropdown Menu-------*/

/* Code modified from a W3Schools example: 
   https://www.w3schools.com/howto/howto_css_dropdown.asp */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin: 0 20px;
  box-shadow: 0 8px 16px 0 #d3d3d3;
}

.dropdownContent a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a:hover {
  background-color: #8b8888;
  color: #FFFFFF;
}

.dropdown:hover #work_btn {
  color: #FFFFFF;
}


/*-----------------Basic Selectors in Body-----------------*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  opacity: 1;
  transition: 0.8s opacity; /* create a 0.8 second fade in */
}

h1, h2, h3, h4, h5, h6, nav, footer {
  font-family: "Poppins", Arial, sans-serif;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-top: 0px;
}

h2, h4 {
  color: #257cd1;
}

main {
  margin: 0 150px; /* better to set max-width then set margins to auto? */
}

figure {
  margin: 0;
}

footer {
  text-align: center;
  padding: 5px 0;
  background-color: #8b8888;
  color: #FFFFFF;
  margin-top: 50px;
  line-height: 0.6em;
}


/*-----------------Specific Classes/ID's-----------------*/

.fade {
  opacity: 0;
  transition: none;
}

#print_notice {
  display: none;
}

.twoColLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; not sure if I like this better or not */
}

.twoColItem {
  margin-bottom: 30px;
  width: 560px;
}

.twoColItem img {
  width: 560px;
}

.printAdd {
  display: none; /* items to display only when in print mode */
}

.link {
  text-decoration: none;
  color: #257cd1;
}

.link:hover {
  text-decoration: underline;
}

#link_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

#footer {
  font-size: 1.1em;
}

.date {
  font-size: 0.7em;
}